/build/
*.o
*.out
*.a
*.so
*.exe
*.dll

/.vscode/
*.json

# CMake файлы
/CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Файлы IDE (например, CLion, Visual Studio)
.idea/
*.vs
*.code-workspace

# macOS системные файлы
.DS_Store